//FONTS FAMILY

$font-std: 'Lato', sans-serif;
$font-head: 'Playfair Display', serif;

//FONTS WEIGHT
$fw-l: 300;
$fw-r: 400;

//FONT SIZES
$fz-1: 16px;
$fz-2: 24px;
$fz-3: 36px;
$fz-4: 48px;
$fz-5: 72px;

//COLORS
$white: #fff;
$text-color: #333333;
$banner-shadow-base: #050505;
$boxes-shadow-base: #676767;

//CONTAINER WIDTHS
$container-r: 1165px;
$container-m: 1046px;
